<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8YX9WZEMJ1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8YX9WZEMJ1');
</script>


  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="/assets/css/style.css" />
  {% if "ip" in page.url %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
  {% endif %}
</head>
<body>
  {% include "header.html" %}
   {#— homepage-only banner —#}
  {% if page.url == "/" %}
   
  {% endif %}
  <main>
    {% include "ads-slot.html" %}
    {{ content | safe }}
  </main>
  {% include "footer.html" %}
  <script src="/assets/js/main.js" defer></script>
  {% if "ip" in page.url %}
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" defer></script>
  {% endif %}
  {% if "vat" in page.url %}
    <script src="/assets/js/vat.js" defer></script>
  {% endif %}
  {% if "convert" in page.url %}
    <script src="/assets/js/convert.js" defer></script>
  {% endif %}
  {% if "exchange" in page.url %}
    <script src="/assets/js/exchange.js" defer></script>
  {% endif %}
  {% if "ip" in page.url %}
    <script src="/assets/js/ip.js" defer></script>
  {% endif %}
</body>
</html>
